outside-node-red-within-express.json
[
    {
        "id": "89ab9c3cd6fd1964",
        "type": "comment",
        "z": "56af3abb553264d3",
        "name": "if used without \"node-red-within-express\"",
        "info": "",
        "x": 180,
        "y": 500,
        "wires": []
    },
    {
        "id": "2141765bfa6c678a",
        "type": "inject",
        "z": "56af3abb553264d3",
        "name": "at Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "41ea030e6d3c0598"
            ]
        ]
    },
    {
        "id": "41ea030e6d3c0598",
        "type": "component",
        "z": "56af3abb553264d3",
        "name": "load or create UserRegistry",
        "targetComponent": {
            "id": "d4cdf24f4f1bd687",
            "name": "load or create UserRegistry",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "0e67c007b2cd1045"
            ]
        ]
    },
    {
        "id": "33408d51c530423a",
        "type": "file in",
        "z": "56af3abb553264d3",
        "name": "",
        "filename": "./registeredUsers.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "b65c2917d164e643"
            ]
        ]
    },
    {
        "id": "b65c2917d164e643",
        "type": "json",
        "z": "56af3abb553264d3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "7824fa7d69958fc2"
            ]
        ]
    },
    {
        "id": "7824fa7d69958fc2",
        "type": "change",
        "z": "56af3abb553264d3",
        "name": "save in global context",
        "rules": [
            {
                "t": "set",
                "p": "UserRegistry",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "169e776be841d0e4"
            ]
        ]
    },
    {
        "id": "3c30eb0909e7a462",
        "type": "catch",
        "z": "56af3abb553264d3",
        "name": "",
        "scope": [
            "33408d51c530423a",
            "b65c2917d164e643"
        ],
        "uncaught": false,
        "x": 110,
        "y": 740,
        "wires": [
            [
                "3e24b34462c75275"
            ]
        ]
    },
    {
        "id": "01261e50e4c44c29",
        "type": "debug",
        "z": "56af3abb553264d3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'could not load user registry'",
        "statusType": "jsonata",
        "x": 510,
        "y": 740,
        "wires": []
    },
    {
        "id": "d4cdf24f4f1bd687",
        "type": "component_in",
        "z": "56af3abb553264d3",
        "name": "load or create UserRegistry",
        "api": [],
        "x": 140,
        "y": 620,
        "wires": [
            [
                "33408d51c530423a"
            ]
        ]
    },
    {
        "id": "169e776be841d0e4",
        "type": "component_out",
        "z": "56af3abb553264d3",
        "name": "return",
        "mode": "default",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "0e67c007b2cd1045",
        "type": "debug",
        "z": "56af3abb553264d3",
        "name": "Status",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'user registry loaded'",
        "statusType": "jsonata",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "3e24b34462c75275",
        "type": "function",
        "z": "56af3abb553264d3",
        "name": "create in global context",
        "func": "global.set('UserRegistry',{\n  'node-red': {\n    Roles: ['node-red'],\n    Salt: '4486e8d35b8275020b1301226cc77963',\n    Hash: 'ab2b740ea9148aa4f320af3f3ba60ee2e33bb8039c57eea2b29579ff3f3b16bec2401f19e3c6ed8ad36de432b80b6f973a12c41af5d50738e4bb902d0117df53'\n  }\n})\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 740,
        "wires": [
            [
                "01261e50e4c44c29"
            ]
        ]
    },
    {
        "id": "996489424ed9b3b1",
        "type": "file",
        "z": "56af3abb553264d3",
        "name": "",
        "filename": "./registeredUsers.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 300,
        "y": 860,
        "wires": [
            [
                "5c9becba3c2ad1aa"
            ]
        ]
    },
    {
        "id": "b1bccbe658cf378e",
        "type": "json",
        "z": "56af3abb553264d3",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 110,
        "y": 860,
        "wires": [
            [
                "996489424ed9b3b1"
            ]
        ]
    },
    {
        "id": "c5460f0e4cf425fb",
        "type": "catch",
        "z": "56af3abb553264d3",
        "name": "",
        "scope": [
            "996489424ed9b3b1",
            "b1bccbe658cf378e"
        ],
        "uncaught": false,
        "x": 110,
        "y": 980,
        "wires": [
            [
                "7afc6a7dfdc2f9b4",
                "172620a272f1cf7b"
            ]
        ]
    },
    {
        "id": "7afc6a7dfdc2f9b4",
        "type": "debug",
        "z": "56af3abb553264d3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'could not write user registry'",
        "statusType": "jsonata",
        "x": 250,
        "y": 1040,
        "wires": []
    },
    {
        "id": "15fdaffc165dcddc",
        "type": "component_in",
        "z": "56af3abb553264d3",
        "name": "write UserRegistry",
        "api": [],
        "x": 110,
        "y": 800,
        "wires": [
            [
                "53524a8fd09f5328"
            ]
        ]
    },
    {
        "id": "53524a8fd09f5328",
        "type": "change",
        "z": "56af3abb553264d3",
        "name": "load from global context",
        "rules": [
            {
                "t": "set",
                "p": "_payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UserRegistry",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 800,
        "wires": [
            [
                "b1bccbe658cf378e"
            ]
        ]
    },
    {
        "id": "1243c1c121dee66e",
        "type": "component_out",
        "z": "56af3abb553264d3",
        "name": "return",
        "mode": "default",
        "x": 530,
        "y": 920,
        "wires": []
    },
    {
        "id": "5c9becba3c2ad1aa",
        "type": "change",
        "z": "56af3abb553264d3",
        "name": "restore payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "_payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "_payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 920,
        "wires": [
            [
                "1243c1c121dee66e"
            ]
        ]
    },
    {
        "id": "172620a272f1cf7b",
        "type": "change",
        "z": "56af3abb553264d3",
        "name": "report in payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'Internal Server Error'",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "_payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 980,
        "wires": [
            [
                "1243c1c121dee66e"
            ]
        ]
    }
]