show-user-registry.json
[
    {
        "id": "fe9d58b1f84fce63",
        "type": "inject",
        "z": "c63466f5ec185814",
        "name": "show UserRegistry",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 790,
        "y": 1020,
        "wires": [
            [
                "663a2575d83ff39f"
            ]
        ]
    },
    {
        "id": "80fab4a14a0c61a7",
        "type": "comment",
        "z": "c63466f5ec185814",
        "name": "for testing purposes",
        "info": "",
        "x": 770,
        "y": 960,
        "wires": []
    },
    {
        "id": "663a2575d83ff39f",
        "type": "function",
        "z": "c63466f5ec185814",
        "name": "create output",
        "func": "let UserRegistry = global.get('UserRegistry') || Object.create(null)\n  let UserList = []\n  for (let UserId in UserRegistry) {\n    UserList.push(\n      UserRegistry[UserId] == null ? '[' + UserId + ']' : UserId\n    )\n  }\nmsg.payload = (\n  UserList.length === 0\n  ? '(no user registered)'\n  : 'registered users: \"' + UserList.join('\",\"') + '\"'\n)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1020,
        "wires": [
            [
                "62b2658722dbd9e7"
            ]
        ]
    },
    {
        "id": "62b2658722dbd9e7",
        "type": "debug",
        "z": "c63466f5ec185814",
        "name": "show",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 1020,
        "wires": []
    }
]