try-cookie-auth.json
[
    {
        "id": "e7e4d431ae21b31c",
        "type": "comment",
        "z": "5cd3730f771ed2a6",
        "name": "try yourself",
        "info": "",
        "x": 80,
        "y": 500,
        "wires": []
    },
    {
        "id": "bcce3b9c21368743",
        "type": "http in",
        "z": "5cd3730f771ed2a6",
        "name": "",
        "url": "cookie-auth",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "a1d6fa210264c774"
            ]
        ]
    },
    {
        "id": "79102e3ebd685bba",
        "type": "http response",
        "z": "5cd3730f771ed2a6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "b146b96c1e6e4802",
        "type": "change",
        "z": "5cd3730f771ed2a6",
        "name": "inform about success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "successfully authorized",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 620,
        "wires": [
            [
                "79102e3ebd685bba"
            ]
        ]
    },
    {
        "id": "bca7975301895f4d",
        "type": "http in",
        "z": "5cd3730f771ed2a6",
        "name": "",
        "url": "cookie-auth",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "6ad54df9077948bd"
            ]
        ]
    },
    {
        "id": "5aa149195cb2bafd",
        "type": "change",
        "z": "5cd3730f771ed2a6",
        "name": "inform about success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "successfully authorized",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 740,
        "wires": [
            [
                "9603dfde62c5f08b"
            ]
        ]
    },
    {
        "id": "9603dfde62c5f08b",
        "type": "http response",
        "z": "5cd3730f771ed2a6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "a1d6fa210264c774",
        "type": "reusable",
        "z": "5cd3730f771ed2a6",
        "name": "",
        "target": "cookie auth",
        "outputs": 2,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "b146b96c1e6e4802"
            ],
            [
                "79102e3ebd685bba"
            ]
        ]
    },
    {
        "id": "6ad54df9077948bd",
        "type": "reusable",
        "z": "5cd3730f771ed2a6",
        "name": "",
        "target": "cookie login",
        "outputs": 2,
        "x": 310,
        "y": 680,
        "wires": [
            [
                "5aa149195cb2bafd"
            ],
            [
                "9603dfde62c5f08b"
            ]
        ]
    }
]