try-basic-auth.json
[
    {
        "id": "42afd0252abcde7b",
        "type": "http in",
        "z": "c63466f5ec185814",
        "name": "",
        "url": "basic-auth",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "a592efb9da32b941"
            ]
        ]
    },
    {
        "id": "a453e55d889e4f45",
        "type": "http response",
        "z": "c63466f5ec185814",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 220,
        "wires": []
    },
    {
        "id": "15935af93c0fb448",
        "type": "change",
        "z": "c63466f5ec185814",
        "name": "inform about success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "successfully authorized",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 220,
        "wires": [
            [
                "a453e55d889e4f45"
            ]
        ]
    },
    {
        "id": "82171f093abb349a",
        "type": "comment",
        "z": "c63466f5ec185814",
        "name": "try yourself",
        "info": "",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "a592efb9da32b941",
        "type": "reusable",
        "z": "c63466f5ec185814",
        "name": "",
        "target": "basic auth",
        "outputs": 2,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "15935af93c0fb448"
            ],
            [
                "a453e55d889e4f45"
            ]
        ]
    }
]