try-header-auth.json
[
    {
        "id": "26648eb5bf6204e9",
        "type": "comment",
        "z": "4e29538c45ba477d",
        "name": "try yourself",
        "info": "",
        "x": 80,
        "y": 500,
        "wires": []
    },
    {
        "id": "b658a6de0857907b",
        "type": "http in",
        "z": "4e29538c45ba477d",
        "name": "",
        "url": "header-auth",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "dc105a4977025043"
            ]
        ]
    },
    {
        "id": "ecd50a9259a2cfde",
        "type": "http response",
        "z": "4e29538c45ba477d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "af1aef5eff24af57",
        "type": "change",
        "z": "4e29538c45ba477d",
        "name": "inform about success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "successfully authorized",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 620,
        "wires": [
            [
                "ecd50a9259a2cfde"
            ]
        ]
    },
    {
        "id": "d44680247d011e9b",
        "type": "http in",
        "z": "4e29538c45ba477d",
        "name": "",
        "url": "header-auth",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "2f655d899fbe9841"
            ]
        ]
    },
    {
        "id": "8c7ae8b543f3576a",
        "type": "change",
        "z": "4e29538c45ba477d",
        "name": "inform about success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "successfully authorized",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 740,
        "wires": [
            [
                "d405c4344cb50dcb"
            ]
        ]
    },
    {
        "id": "d405c4344cb50dcb",
        "type": "http response",
        "z": "4e29538c45ba477d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "dc105a4977025043",
        "type": "reusable",
        "z": "4e29538c45ba477d",
        "name": "",
        "target": "header auth",
        "outputs": 2,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "af1aef5eff24af57"
            ],
            [
                "ecd50a9259a2cfde"
            ]
        ]
    },
    {
        "id": "2f655d899fbe9841",
        "type": "reusable",
        "z": "4e29538c45ba477d",
        "name": "",
        "target": "header login",
        "outputs": 2,
        "x": 310,
        "y": 680,
        "wires": [
            [
                "8c7ae8b543f3576a"
            ],
            [
                "d405c4344cb50dcb"
            ]
        ]
    }
]